*{
    margin: 0;
    padding: 0;
}

/* classes */
.header-block{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;    
}

.title{
    letter-spacing: 0.2rem;
    font-size: 3rem;
}

.nav-elements{
    display: flex;
    gap: 2rem;      
}

.nav-elements > * {
    cursor: pointer;
}

.Avatar0{
    margin-top: 0.7rem;
}

.nav-elements-block{
    margin-right: 2rem;
}
.mobile-screen{      
    display: none;
}

.header-links{
   font-size: 1rem;
    color: rgb(100, 96, 96);
    font-weight: bold;
}

/* elements */
button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;   
    background-color: white;        
}


.dropdown-box{
    background-color: white;    
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0rem 1rem;
    position: fixed;
    right: 5rem;
    top: 4.5rem;       
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s ease-out;
}

.dropdown-box > *{    
    padding-bottom: 0.5rem;    
}


.dropdown-item-text{
    color: black;
}



/* media Queries */


@media screen and (max-width : 650px) {

    .header-block > *{
        font-size: 1.3rem;
    }

    .title{
        font-size: xxx-large;
        letter-spacing: 0.3rem;
        margin-bottom: 1rem;
    }
    .header-block{
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .nav-elements{
        flex-direction: column;
        gap: 0;
    }

    .pc-screen{
        display: none;
    }

    .mobile-screen{
        display: block;
    }
}

